<div id="body-container">
    <div id="home-container">
      <div id="search-section">
        <input [(ngModel)]="searchTerm" placeholder="חיפוש אחר אלבומים בספוטיפיי" />
        <button (click)="onSearch()">חיפוש</button>
      </div>
  
      <div id="results-section">
        <h3>חיפושים קודמים</h3>
        <ul>
          <li *ngFor="let search of previousSearches">{{ search }}</li>
        </ul>

        <ul>
          <app-disc-item *ngFor="let result of searchResults" [disc]="result"></app-disc-item>
        </ul> 
      </div>
    </div>
  </div>
  